body {
  font-size: 16px;
  color: #fff;
  background-color: #982e2e;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #3b5296;
  border-radius: 0;
  border: 0;
width: 100%;
}

#logo-img {
  background: url('../images/logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 0px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #d1d81b;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 25;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #d1d81b;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #982e2e;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
  .block{
width: 96%;
margin: 10px 10px 40px 25px;
background-color: #7e1f1f}
.block_text{position: relative;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 100%;
   font-size: 1.6em;
color: #d1d81b;
padding: 2px;
}
#nav-list > li{
display: none;}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/logo_small.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

 /*
.block{
width: 96%;
margin: 20px 20px 20px 25px;
background-color: #7e1f1f;}
.block_text{position: relative;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 100%;
   font-size: 1.6em;
color: #d1d81b;
padding: 2px;
}
*/

}
#nav-list > li{
display: none;}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

#nav-list > li {
display: none;}
  
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #d1d81b;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top:-20px;
  margin-bottom: 0;
  line-height: .75;
}
/*.block{
width: 95.5%;
margin: 20px 20px 20px 20px;
background-color: #7e1f1f;}
.block_text{position: relative;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 100%;
   font-size: 1.6em;
color: #d1d81b;
padding: 2px;
}*/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
 
/*.block{
width: 89%;
margin: 40px;
background-color: #7e1f1f;}
.block_text{position: relative;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 100%;
   font-size: 1.6em;
color: #d1d81b;
padding: 2px; */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
/*.block{
width: 90%;
margin: 20px;
background-color: #7e1f1f;}
.block_text{position: relative;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 100%;
   font-size: 1.6em;
color: #d1d81b;
padding: 2px;
}

